.navbar {
    margin-bottom: 0;
    background-color: #6f8bcf;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar-nav li ul li a{
    color:#0026ff !important;
    background-color: #aaa !important}

    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }

.navbar-nav li a:hover, .navbar-nav li.active a, .navbar-nav li ul li a:hover {
    color: #6f8bcf !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #6f8bcf !important;
}